# Testing of Miscellaneous code

In [ ]:
# Numpy version
import numpy as np
np.__version__

# numpy namespace and docs
np.random.RandomState?

## Python arrays

In [ ]:
import array

# create a list of 10 items
my_list = list(range(10))

# Create an array
# The 'i' is a type code indicating all the contents are integers
my_array = array.array('i', my_list)
my_array

In [ ]:
print(np.random.randint(10, size=(3, 4, 5)))
x1 = np.random.randint(10, size=6)
x1

In [1]:
import pandas as pd

In [9]:
births = pd.read_csv('C:/Users/user/PycharmProjects/Python4ds_cohort-1/data/births.csv')
births.head(10)

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548
5  1969      1  3.0      M    4994
6  1969      1  4.0      F    4440
7  1969      1  4.0      M    4520
8  1969      1  5.0      F    4192
9  1969      1  5.0      M    4198

In [14]:
pt = births.pivot_table(values='births', columns='month', index=['gender'], aggfunc='sum')
pt.head(10)

month,1,2,3,4,5,6,7,8,9,10,11,12
gender,,,,,,,,,,,,
F,6035447,5634064,6181613,5889345,6145186,6093026,6512299,6600723,6473029,6330549,5956388,6184154
M,6328750,5907114,6497231,6196546,6479786,6428044,6855257,6927284,6779802,6624401,6241579,6472761

In [26]:
pt.ix[:, :3]

c:\users\user\pycharmprojects\python4ds_cohort-1\venv\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

month         1        2        3
gender
F       6035447  5634064  6181613
M       6328750  5907114  6497231