# Testing of Miscellaneous code

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('F:/isaka/python4DS/kiva_loans.csv')
data.head(5)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

In [5]:
data.describe()

,id,funded_amount,loan_amount,partner_id,term_in_months,lender_count
count,6.712050e+05,671205.000000,671205.000000,657698.000000,671205.000000,671205.000000
mean,9.932486e+05,785.995061,842.397107,178.199616,13.739022,20.590922
std,1.966113e+05,1130.398941,1198.660073,94.247581,8.598919,28.459551
min,6.530470e+05,0.000000,25.000000,9.000000,1.000000,0.000000
25%,8.230720e+05,250.000000,275.000000,126.000000,8.000000,7.000000
50%,9.927800e+05,450.000000,500.000000,145.000000,13.000000,13.000000
75%,1.163653e+06,900.000000,1000.000000,204.000000,14.000000,24.000000
max,1.340339e+06,100000.000000,100000.000000,536.000000,158.000000,2986.000000

In [6]:
data.pivot_table(index=['country', 'sector'], aggfunc=[np.sum], values=['funded_amount', 'loan_amount']).head(20)

                                     sum
                           funded_amount loan_amount
country     sector
Afghanistan Arts                 14000.0     14000.0
Albania     Agriculture         976925.0   1005350.0
            Arts                  8375.0      8375.0
            Clothing            153925.0    162050.0
            Construction         35325.0     37975.0
            Education           117075.0    118025.0
            Entertainment         5225.0      5225.0
            Food                107375.0    123400.0
            Health              329400.0    342550.0
            Housing             436175.0    500900.0
            Manufacturing        33675.0     33675.0
            Personal Use         87550.0    108400.0
            Retail               52250.0     59875.0
            Services             83100.0     90225.0
            Transportation       50875.0     57725.0
            Wholesale            12750.0     12750.0
Armenia     Agriculture        6607450.0   7587550.0
            Arts                 63225.0     63225.0
            Clothing            288725.0    360025.0
            Construction        146725.0    162475.0

In [7]:
data['borrower_genders'].head(30)

0                     female
1             female, female
2                     female
3                     female
4                     female
5                     female
6                     female
7                     female
8                     female
9                     female
10                    female
11                    female
12                    female
13                    female
14                    female
15                    female
16                    female
17    female, female, female
18                    female
19                    female
20                    female
21                    female
22            female, female
23                    female
24                    female
25                    female
26                    female
27                    female
28                    female
29                    female
Name: borrower_genders, dtype: object

In [8]:
data[data.isnull()]

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data[data.notnull()].head(20)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01
5,1080148,250.0,250.0,Services,Services,purchase leather for my business using ksh 20000.,KE,Kenya,NaN,KES,NaN,2014-01-01 10:06:19+00:00,2014-01-30 01:42:48+00:00,2014-01-29 14:14:57+00:00,4.0,6,NaN,female,irregular,2014-01-01
6,653067,200.0,200.0,Dairy,Agriculture,To purchase a dairy cow and start a milk produ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:51:02+00:00,2013-12-16 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,8,"user_favorite, user_favorite",female,bullet,2014-01-01
7,653078,400.0,400.0,Beauty Salon,Services,to buy more hair and skin care products.,PK,Pakistan,Ellahabad,PKR,245.0,2014-01-01 11:46:01+00:00,2013-12-20 08:00:00+00:00,2014-01-10 18:18:44+00:00,14.0,8,"#Elderly, #Woman Owned Biz",female,monthly,2014-01-01
8,653082,475.0,475.0,Manufacturing,Manufacturing,"to purchase leather, plastic soles and heels i...",PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:49:43+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:47:21+00:00,14.0,19,user_favorite,female,monthly,2014-01-01
9,653048,625.0,625.0,Food Production/Sales,Food,"to buy a stall, gram flour, ketchup, and coal ...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 05:41:03+00:00,2013-12-17 08:00:00+00:00,2014-01-03 15:45:04+00:00,11.0,24,NaN,female,irregular,2014-01-01
10,653060,200.0,200.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:32:39+00:00,2013-12-24 08:00:00+00:00,2014-01-01 12:18:55+00:00,11.0,3,NaN,female,irregular,2014-01-01
11,653088,400.0,400.0,Wholesale,Wholesale,"to purchase biscuits, sweets and juices in bulk.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:03:43+00:00,2013-12-16 08:00:00+00:00,2014-01-03 09:19:26+00:00,14.0,16,NaN,female,monthly,2014-01-01
12,653089,400.0,400.0,General Store,Retail,"to buy stock of rice, sugar and flour .",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:04:57+00:00,2013-12-24 08:00:00+00:00,2014-01-08 00:35:14+00:00,14.0,16,"#Repeat Borrower, #Woman Owned Biz",female,monthly,2014-01-01
13,653062,400.0,400.0,Clothing Sales,Clothing,to purchase variety of winter clothes to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:57:58+00:00,2013-12-24 08:00:00+00:00,2014-01-02 15:47:37+00:00,12.0,10,NaN,female,irregular,2014-01-01
14,653075,225.0,225.0,Poultry,Agriculture,to expand her existing poultry farm business.,IN,India,Dhupguri,INR,334.0,2014-01-01 11:24:40+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:58:18+00:00,43.0,7,user_favorite,female,bullet,2014-01-01
15,653054,300.0,300.0,Rickshaw,Transportation,to buy a three-wheeled rickshaw.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-02 00:04:08+00:00,11.0,9,NaN,female,irregular,2014-01-01
16,653091,400.0,400.0,General Store,Retail,"to buy packs of salts, biscuits and beverages.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:09:10+00:00,2013-12-09 08:00:00+00:00,2014-01-14 15:57:05+00:00,14.0,11,"#Woman Owned Biz, #Parent",female,monthly,2014-01-01
17,653052,875.0,875.0,Tailoring,Services,"To buy a sewing machine, lace, zippers and but...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:25:41+00:00,2013-12-17 08:00:00+00:00,2014-01-01 18:07:34+00:00,11.0,25,NaN,"female, female, female",irregular,2014-01-01
18,653066,250.0,250.0,Sewing,Services,to purchase a sewing machine.,IN,India,Maynaguri,INR,334.0,2014-01-01 09:48:35+00:00,2013-12-13 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,4,"user_favorite, user_favorite",female,bullet,2014-01-01
19,653080,475.0,475.0,Beauty Salon,Services,to buy more cosmetics products for her beauty ...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:48:08+00:00,2013-12-19 08:00:00+00:00,2014-01-10 03:22:29+00:00,14.0,18,#Woman Owned Biz,female,monthly,2014-01-01

In [10]:
data.loc[data.borrower_genders == 'female', ['borrower_genders']].head(10)

   borrower_genders
0            female
2            female
3            female
4            female
5            female
6            female
7            female
8            female
9            female
10           female

In [11]:
data.fillna(method='ffill')

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,"user_favorite, user_favorite",female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,"user_favorite, user_favorite",female,monthly,2014-01-01
5,1080148,250.0,250.0,Services,Services,purchase leather for my business using ksh 20000.,KE,Kenya,Abdul Hakeem,KES,245.0,2014-01-01 10:06:19+00:00,2014-01-30 01:42:48+00:00,2014-01-29 14:14:57+00:00,4.0,6,"user_favorite, user_favorite",female,irregular,2014-01-01
6,653067,200.0,200.0,Dairy,Agriculture,To purchase a dairy cow and start a milk produ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:51:02+00:00,2013-12-16 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,8,"user_favorite, user_favorite",female,bullet,2014-01-01
7,653078,400.0,400.0,Beauty Salon,Services,to buy more hair and skin care products.,PK,Pakistan,Ellahabad,PKR,245.0,2014-01-01 11:46:01+00:00,2013-12-20 08:00:00+00:00,2014-01-10 18:18:44+00:00,14.0,8,"#Elderly, #Woman Owned Biz",female,monthly,2014-01-01
8,653082,475.0,475.0,Manufacturing,Manufacturing,"to purchase leather, plastic soles and heels i...",PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:49:43+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:47:21+00:00,14.0,19,user_favorite,female,monthly,2014-01-01
9,653048,625.0,625.0,Food Production/Sales,Food,"to buy a stall, gram flour, ketchup, and coal ...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 05:41:03+00:00,2013-12-17 08:00:00+00:00,2014-01-03 15:45:04+00:00,11.0,24,user_favorite,female,irregular,2014-01-01
10,653060,200.0,200.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:32:39+00:00,2013-12-24 08:00:00+00:00,2014-01-01 12:18:55+00:00,11.0,3,user_favorite,female,irregular,2014-01-01
11,653088,400.0,400.0,Wholesale,Wholesale,"to purchase biscuits, sweets and juices in bulk.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:03:43+00:00,2013-12-16 08:00:00+00:00,2014-01-03 09:19:26+00:00,14.0,16,user_favorite,female,monthly,2014-01-01
12,653089,400.0,400.0,General Store,Retail,"to buy stock of rice, sugar and flour .",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:04:57+00:00,2013-12-24 08:00:00+00:00,2014-01-08 00:35:14+00:00,14.0,16,"#Repeat Borrower, #Woman Owned Biz",female,monthly,2014-01-01
13,653062,400.0,400.0,Clothing Sales,Clothing,to purchase variety of winter clothes to sell.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:57:58+00:00,2013-12-24 08:00:00+00:00,2014-01-02 15:47:37+00:00,12.0,10,"#Repeat Borrower, #Woman Owned Biz",female,irregular,2014-01-01
14,653075,225.0,225.0,Poultry,Agriculture,to expand her existing poultry farm business.,IN,India,Dhupguri,INR,334.0,2014-01-01 11:24:40+00:00,2013-12-20 08:00:00+00:00,2014-01-01 18:58:18+00:00,43.0,7,user_favorite,female,bullet,2014-01-01
15,653054,300.0,300.0,Rickshaw,Transportation,to buy a three-wheeled rickshaw.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-02 00:04:08+00:00,11.0,9,user_favorite,female,irregular,2014-01-01
16,653091,400.0,400.0,General Store,Retail,"to buy packs of salts, biscuits and beverages.",PK,Pakistan,Faisalabad,PKR,245.0,2014-01-01 12:09:10+00:00,2013-12-09 08:00:00+00:00,2014-01-14 15:57:05+00:00,14.0,11,"#Woman Owned Biz, #Parent",female,monthly,2014-01-01
17,653052,875.0,875.0,Tailoring,Services,"To buy a sewing machine, lace, zippers and but...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:25:41+00:00,2013-12-17 08:00:00+00:00,2014-01-01 18:07:34+00:00,11.0,25,"#Woman Owned Biz, #Parent","female, female, female",irregular,2014-01-01
18,653066,250.0,250.0,Sewing,Services,to purchase a sewing machine.,IN,India,Maynaguri,INR,334.0,2014-01-01 09:48:35+00:00,2013-12-13 08:00:00+00:00,2014-01-01 17:18:09+00:00,43.0,4,"user_favorite, user_favorite",female,bullet,2014-01-01
19,653080,475.0,475.0,Beauty Salon,Services,to buy more cosmetics products for her beauty ...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:48:08+00:00,2013-12-19 08:00:00+00:00,2014-01-10 03:22:29+00:00,14.0,18,#Woman Owned Biz,female,monthly,2014-01-01
20,653065,250.0,250.0,Bakery,Food,to buy ingredients to make bakery products.,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:26:34+00:00,2013-12-18 08:00:00+00:00,2014-01-01 15:35:59+00:00,11.0,10,#Woman Owned Biz,female,irregular,2014-01-01
21,653055,350.0,350.0,Restaurant,Food,"to purchase vegetables, chicken, and oil to co...",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:14:40+00:00,2013-12-24 08:00:00+00:00,2014-01-01 21:54:18+00:00,12.0,13,#Woman Owned Biz,female,irregular,2014-01-01
22,653050,575.0,575.0,Clothing Sales,Clothing,To buy winter clothing to sell,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:05:17+00:00,2013-12-17 08:00:00+00:00,2014-01-02 23:56:08+00:00,12.0,20,#Woman Owned Biz,"female, female",irregular,2014-01-01
23,653079,350.0,350.0,Embroidery,Arts,to buy reels of threads in different colors an...,PK,Pakistan,Lahore,PKR,245.0,2014-01-01 11:47:03+00:00,2013-12-13 08:00:00+00:00,2014-01-01 15:45:51+00:00,14.0,6,#Woman Owned Biz,female,monthly,2014-01-01
24,653061,250.0,250.0,Food Stall,Food,to purchase a variety of needed food items to ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:46:28+00:00,2013-12-24 08:00:00+00:00,2014-01-02 01:33:55+00:00,11.0,7,#Woman Owned Biz,female,irregular,2014-01-01
25,653074,250.0,250.0,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,IN,India,Dhupguri,INR,334.0,2014-01-01 11:13:09+00:00,2013-12-13 08:00:00+00:00,2014-01-01 19:01:19+00:00,43.0,9,#Woman Owned Biz,female,bullet,2014-01-01
26,653069,250.0,250.0,Construction Supplies,Construction,to purchase stones for starting a business sup...,IN,India,Maynaguri,INR,334.0,2014-01-01 10:04:17+00:00,2013-12-10 08:00:00+00:00,2014-01-01 22:12:43+00:00,43.0,10,"user_favorite, user_favorite",female,bullet,2014-01-01
27,653056,475.0,475.0,Rickshaw,Transportation,to cover the cost of repairing rickshaw,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 07:20:09+00:00,2013-12-24 08:00:00+00:00,2014-01-01 20:26:48+00:00,12.0,17,"user_favorite, user_favorite",female,irregular,2014-01-01
28,653071,125.0,125.0,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,IN,India,Maynaguri,INR,334.0,2014-01-01 10:35:20+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:06:47+00:00,43.0,5,"user_favorite, user_favorite",female,bullet,2014-01-01
29,653073,250.0,250.0,Farming,Agriculture,to purchase potato seeds and fertilizer for fa...,IN,India,Dhupguri,INR,334.0,2014-01-01 11:09:26+00:00,2013-12-19 08:00:00+00:00,2014-01-01 21:47:05+00:00,43.0,10,"user_favorite, user_favorite",female,bullet,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671175,1340274,75.0,125.0,Livestock,Agriculture,Pretend the flagged issue was addressed by KC.,MX,Mexico,Iztacalco,MXN,294.0,2017-07-21 23:31:40+00:00,2017-07-21 07:00:00+00:00,2017-07-22 13:07:29+00:00,13.0,3,"#Parent, #Repair Renew Replace","female, female",monthly,2017-07-21
671176,1340259,0.0,50.0,Livestock,Agriculture,Edited loan use in english.,GH,Ghana,Dansoman,GHS,231.0,2017-07-21 15:54:42+00:00,2017-07-21 07:00:00+00:00,2017-07-22 13:07:29+00:00,13.0,0,"#Parent, #Repair Renew Replace","female, female",monthly,2017-07-21
671177,1340279,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,Dansoman,KES,138.0,2017-07-22 06:04:07+00:00,2017-07-21 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,1,"#Parent, #Repair Renew Replace",female,monthly,2017-07-22
671178,1340280,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,Dansoman,KES,138.0,2017-07-22 06:16:55+00:00,2017-07-21 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-22
671179,1340282,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-22 06:49:47+00:00,2017-07-21 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-22
671180,1340286,0.0,725.0,Livestock,Agriculture,Translated loan use to english.,BO,Bolivia,La Paz,BOB,59.0,2017-07-23 22:11:47+00:00,2017-07-23 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-23
671181,1340285,0.0,25.0,Livestock,Agriculture,Reviewed loan use in english.,PK,Pakistan,Attock,PKR,245.0,2017-07-23 21:57:42+00:00,2017-07-23 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-23
671182,1340292,0.0,125.0,Livestock,Agriculture,Pretend the flagged issue was addressed by KC.,MX,Mexico,Iztacalco,MXN,294.0,2017-07-23 23:19:01+00:00,2017-07-23 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,0,"#Parent, #Repair Renew Replace","female, female",monthly,2017-07-23
671183,1340290,0.0,75.0,Livestock,Agriculture,Pretend the issue with spanish loan was addres...,MX,Mexico,Iztacalco,MXN,294.0,2017-07-23 22:56:35+00:00,2017-07-23 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-23
671184,1340287,0.0,875.0,Livestock,Agriculture,Translated loan use to english.,BO,Bolivia,La Paz,BOB,59.0,2017-07-23 22:25:39+00:00,2017-07-23 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,0,"#Parent, #Repair Renew Replace","female, female",monthly,2017-07-23
671185,1340298,0.0,25.0,Livestock,Agriculture,Translated loan use to english.,KE,Kenya,La Paz,KES,138.0,2017-07-24 07:34:50+00:00,2017-07-17 07:00:00+00:00,2017-07-24 12:44:16+00:00,13.0,0,"#Parent, #Repair Renew Replace","female, female",monthly,2017-07-24
671186,1340300,25.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-24 08:09:10+00:00,2017-07-24 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,1,"#Parent, #Repair Renew Replace",female,monthly,2017-07-24
671187,1340297,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,Concepción,KES,138.0,2017-07-24 07:14:47+00:00,2017-07-24 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-24
671188,1340302,0.0,250.0,Livestock,Agriculture,Reviewed loan use in english.,GH,Ghana,Dansoman,GHS,231.0,2017-07-24 21:36:17+00:00,2017-07-24 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-24
671189,1340315,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,Dansoman,KES,138.0,2017-07-25 05:59:38+00:00,2017-07-24 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-25
671190,1340321,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,Dansoman,KES,138.0,2017-07-25 16:24:08+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-25
671191,1340327,0.0,725.0,Livestock,Agriculture,Translated loan use to english.,BO,Bolivia,La Paz,BOB,59.0,2017-07-25 22:10:23+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-25
671192,1340328,0.0,875.0,Livestock,Agriculture,Translated loan use to english.,BO,Bolivia,La Paz,BOB,59.0,2017-07-25 22:27:44+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace","female, female",monthly,2017-07-25
671193,1340333,0.0,125.0,Livestock,Agriculture,Pretend the flagged issue was addressed by KC.,MX,Mexico,Iztacalco,MXN,294.0,2017-07-25 23:45:38+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace","female, female",monthly,2017-07-25
671194,1340332,0.0,25.0,Livestock,Agriculture,Kiva Coordinator fixed issue loan (no longer v...,KE,Kenya,Iztacalco,KES,138.0,2017-07-25 23:29:57+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace","female, female",monthly,2017-07-25
671195,1340329,0.0,50.0,Livestock,Agriculture,Edited loan use in english.,GH,Ghana,Dansoman,GHS,231.0,2017-07-25 22:40:59+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace","female, female",monthly,2017-07-25
671196,1340325,0.0,250.0,Livestock,Agriculture,Reviewed loan use in english.,GH,Ghana,Dansoman,GHS,231.0,2017-07-25 21:36:20+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-25
671197,1340330,0.0,25.0,Livestock,Agriculture,Pretend the issue with loan got addressed by K...,KE,Kenya,Dansoman,KES,138.0,2017-07-25 22:55:42+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-25
671198,1340331,0.0,75.0,Livestock,Agriculture,Pretend the issue with spanish loan was addres...,MX,Mexico,Iztacalco,MXN,294.0,2017-07-25 23:13:50+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-25
671199,1340318,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 06:45:02+00:00,2017-07-24 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-25
671200,1340323,0.0,25.0,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",PY,Paraguay,Concepción,USD,58.0,2017-07-25 16:55:34+00:00,2017-07-25 07:00:00+00:00,2017-07-25 00:19:01+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-25
671201,1340316,25.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,Concepción,KES,138.0,2017-07-25 06:14:08+00:00,2017-07-24 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,1,"#Parent, #Repair Renew Replace",female,monthly,2017-07-25
671202,1340334,0.0,25.0,Games,Entertainment,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,Concepción,KES,138.0,2017-07-26 00:02:07+00:00,2017-07-25 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-26
671203,1340338,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,Concepción,KES,138.0,2017-07-26 06:12:55+00:00,2017-07-25 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-26
671204,1340339,0.0,25.0,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",KE,Kenya,Concepción,KES,138.0,2017-07-26 06:31:46+00:00,2017-07-25 07:00:00+00:00,2017-07-26 02:09:43+00:00,13.0,0,"#Parent, #Repair Renew Replace",female,monthly,2017-07-26

In [13]:
country_pt = data.pivot_table(index=['country'], aggfunc=[np.sum], values=['funded_amount', 'loan_amount']).head(10)

                       sum
             funded_amount loan_amount
country
Afghanistan        14000.0     14000.0
Albania          2490000.0   2666500.0
Armenia         11186675.0  12915400.0
Azerbaijan       2699575.0   2888700.0
Belize            114025.0    114025.0
Benin             516825.0    518950.0
Bhutan             15625.0     20000.0
Bolivia         18276200.0  19843250.0
Brazil            661025.0    662200.0
Burkina Faso     2909975.0   2972700.0